@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhs.ttf) format('truetype');
}
/*Color Scheme*/
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
nav.navbar {
  padding: 15px 0;
  margin-bottom: 0;
}
nav.navbar .logo img {
  width: 150px;
}
nav.navbar .lang-switcher {
  text-align: center;
  line-height: 110px;
}
nav.navbar .lang-switcher a {
  display: inline-block;
}
nav.navbar .lang-switcher a:not(:last-child) {
  margin-right: 20px;
}
nav.navbar .lang-switcher a img {
  width: 50px;
}
nav.navbar .contacts p {
  font-size: 16px;
  line-height: 27px;
}
nav.navbar .contacts i {
  font-size: 20px;
  margin-right: 5px;
}
nav.navbar .contacts a {
  text-decoration: none;
  color: #333;
}
nav.navbar .contacts a:hover,
nav.navbar .contacts a:active,
nav.navbar .contacts a:focus {
  color: #333;
}
article {
  padding: 100px 0;
}
.box-with-pic {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(30%);
}
.box-with-pic:hover {
  transform: scale(1.05);
  filter: none;
  background: #eee;
}
.main-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/img/truck.jpg);
  padding: 155px 0;
}
.main-banner h1 {
  color: #eee;
  font-size: 50px;
}
.trucks {
  background-color: #f5f5f5;
}
.trucks h2 {
  margin-bottom: 50px;
}
.trucks .truck .image {
  height: 155px;
}
.trucks .truck p {
  font-size: 18px;
  font-weight: 500;
}
.services .img {
  text-align: center;
}
.services .img img {
  height: 150px;
}
.services h4 {
  font-size: 25px;
}
.services p {
  font-size: 18px;
  text-align: justify;
}
.services .box-with-pic:not(:nth-child(2)) h4 {
  margin-bottom: 36px;
}
.feedback {
  background-color: #eee;
}
.feedback p {
  font-size: 20px;
  margin-bottom: 30px;
}
.feedback .form {
  width: 65%;
  margin: 0 auto;
}
.feedback form input,
.feedback form textarea {
  border-radius: 0;
  background: #f8f8f8;
  border: 1px solid #ddd;
}
.feedback form input:hover,
.feedback form textarea:hover,
.feedback form input:active,
.feedback form textarea:active,
.feedback form input:focus,
.feedback form textarea:focus {
  outline: none;
}
.feedback form input {
  min-height: 55px;
}
.feedback form textarea {
  min-height: 150px;
}
.feedback form button {
  border-radius: 0;
}
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/img/trux.jpg);
  background-size: cover;
}
.about h3 {
  font-size: 34px;
  color: #fff;
  text-align: justify;
  line-height: 1.5;
}
footer {
  background: #010204;
  color: #ccc;
  font-size: 17px;
  padding: 25px 0;
}
footer a {
  color: #ccc;
  text-decoration: none;
}
.has-error {
  color: #f75960;
}
input.has-error,
textarea.has-error {
  outline: 1px solid #f3313a;
}
/*# sourceMappingURL=style.css.map */