@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i');
/*Color Scheme*/
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
nav.navbar {
  padding: 15px 0;
  margin-bottom: 0;
}
nav.navbar .logo img {
  width: 150px;
}
nav.navbar .lang-switcher {
  text-align: center;
  line-height: 110px;
}
nav.navbar .lang-switcher .wrap a {
  color: #333;
  text-transform: uppercase;
}
nav.navbar .lang-switcher .wrap a:first-child {
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
nav.navbar .lang-switcher .wrap a:last-child {
  padding-left: 10px;
}
nav.navbar .lang-switcher .wrap a.active {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background: #23527c;
}
nav.navbar .contacts p {
  font-size: 16px;
  line-height: 27px;
}
nav.navbar .contacts i {
  font-size: 20px;
  margin-right: 5px;
}
nav.navbar .contacts a {
  text-decoration: none;
  color: #333;
}
nav.navbar .contacts a:hover,
nav.navbar .contacts a:active,
nav.navbar .contacts a:focus {
  color: #333;
}
article {
  padding: 100px 0;
}
.box-with-pic {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(30%);
}
.box-with-pic:hover {
  transform: scale(1.05);
  filter: none;
  background: #eee;
}
.main-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/img/truck.jpg);
  background-size: cover;
  background-position: center;
  padding: 155px 0;
}
.main-banner h1 {
  color: #eee;
  font-size: 2.5rem;
}
.trucks {
  background-color: #f5f5f5;
}
.trucks h2 {
  margin-bottom: 50px;
}
.trucks .truck .image {
  height: 155px;
}
.trucks .truck p {
  font-size: 18px;
  font-weight: 500;
}
.services .img {
  text-align: center;
}
.services .img img {
  height: 150px;
}
.services h4 {
  font-size: 25px;
}
.services p {
  font-size: 18px;
  text-align: justify;
}
.services .box-with-pic:not(:nth-child(2)) h4 {
  margin-bottom: 36px;
}
.feedback {
  background-color: #eee;
}
.feedback p {
  font-size: 20px;
  margin-bottom: 30px;
}
.feedback .form {
  width: 65%;
  margin: 0 auto;
}
.feedback .form .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.feedback form input,
.feedback form textarea {
  border-radius: 0;
  background: #f8f8f8;
  border: 1px solid #ddd;
}
.feedback form input:hover,
.feedback form textarea:hover,
.feedback form input:active,
.feedback form textarea:active,
.feedback form input:focus,
.feedback form textarea:focus {
  outline: none;
}
.feedback form input {
  min-height: 55px;
}
.feedback form textarea {
  min-height: 150px;
}
.feedback form button {
  border-radius: 0;
}
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/img/trux.jpg);
  background-size: cover;
}
.about h3 {
  font-size: 4rem;
  color: #fff;
  text-align: justify;
  line-height: 1.5;
}
footer {
  background: #010204;
  color: #ccc;
  font-size: 17px;
  padding: 25px 0;
}
footer a {
  color: #ccc;
  text-decoration: none;
}
.has-error {
  color: #f75960;
}
input.has-error,
textarea.has-error {
  outline: 1px solid #f3313a;
}
@media (max-width: 992px) {
  nav.navbar .logo img {
    width: 100%;
  }
  .box-with-pic {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .trucks .truck .image {
    height: auto;
    margin-bottom: 25px;
  }
  .feedback .form {
    width: 100%;
  }
  .about h3 {
    font-size: 2rem;
  }
  footer {
    text-align: center;
  }
  footer .pull-left,
  footer .pull-right {
    float: none !important;
  }
}
