/*
 Color Scheme
*/
@white: #fff;
@yellow: #ffa121;
@yellow-dark: #ba721a;
@color_6: green;
@red: #BE2525;
@grey: #767676;
@Roboto: 'Roboto', sans-serif;
@Satisfy: 'Satisfy', cursive;
@Questrial: 'Questrial', sans-serif;
@background_transparent: transparent;
@transparent_black: RGBA(0, 0, 0, 0.67);


/*
 Main Styles
 */
body {
  line-height: 1.4;
  font-family: @Roboto;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}

a {
  outline: none;
  &:hover {
    text-decoration: none;
    outline: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
  &:active {
    text-decoration: none;
    outline: none;
  }
}

.topline {
  background-color: rgba(47, 46, 46, 1);
  font-size: 15px;
  padding: 15px 0;

  a {
    color: #cccccc;

    &:active,
    &:hover,
    &:focus {
      color: @yellow;
    }
  }

  .lang-switcher {
    text-transform: uppercase;
    a {
      &:first-child {
        border-right: 1px solid #f5f5f5;
        margin-right: 3px;
      }
      &:last-child {
        margin-left: 3px;
      }
    }
    a.active {
      color: @yellow;
    }
  }

  .links {
    text-align: right;
    a {
      margin-left: 15px;
    }
    i {
      margin-right: 3px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.header {
  background: url('http://w5i4n9j2.inxycdn.host/assets/img/truck.jpg') center center no-repeat fixed;
  background-size: cover;
  min-height: calc(100vh - 20px);
  position: relative;
}

.navbar-default {
  background-color: @background_transparent;
  border: 0;
  padding: 20px 0;
  transition: all 0.3s;
  .navbar-brand {
    padding: 0;
    margin-top: 0;

    img {
      max-height: 68px;
    }
  }
  .navbar-nav {
    > li {
      > a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        color: @white;
        outline: none;
        background-color: @background_transparent;

        &:hover {
          color: @yellow-dark;
          background-color: @background_transparent;
        }

        &:focus,
        &:active {
          color: @white;
        }
      }
    }
    > .active {
      > a {
        color: @yellow;
        background-color: @background_transparent;

        &:active,
        &:hover,
        &:focus {
          color: @yellow;
          background-color: @background_transparent;
        }
      }
    }
  }
}

.navbar-brand {
  font-size: 36px;
  font-family: @Satisfy;
  margin-top: 9px;
}

.navbar-fixed-top {
  top: 51px;
}

.top-nav-collapse {
  padding: 0;
  background: rgba(50, 60, 70, 0.9);
  top: 0;
}

.bg-color {
  background-color: @transparent_black;
  min-height: 100vh;
}

.main-page {
  margin-top: calc(50vh - 350px);
  img {
    margin: 0 auto;
    max-width: 500px;
  }

  .banner-text {
    border-left: 5px solid #BE2525;
    padding: 15px 40px;
    color: @white;
    h2 {
      font-size: 40px;
      font-weight: 400;
      font-family: @Questrial;
    }
  }

  .overlay-detail {
    margin: 0 auto;
    a {
      i {
        text-align: center;
        position: absolute;
        bottom: -140px;
        font-size: 24px;
        color: @white;
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        line-height: 40px;
        border-radius: 50%;
      }
    }
  }
}

#advantages {
  h2 {
    margin-bottom: 30px;
  }
  li {
    display: flex;
    line-height: 35px;
    &:before {
      font-family: FontAwesome;
      content: "\f00c";
      font-size: 35px;
      color: #2b542c;
      margin-right: 15px;
    }
  }
}

.section-padding {
  padding: 60px 0;
}

#services {
  color: @white;
  background: url("http://w5i4n9j2.inxycdn.host/assets/img/blackback.png") no-repeat fixed;
  background-size: cover;
  .col-md-4,
  .col-sm-6 {
    margin-bottom: 50px;
  }
  .service-name {
    font-size: 2rem;
    min-height: 70px;
  }
}

#about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://w5i4n9j2.inxycdn.host/assets/img/trux.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  h3 {
    font-size: 4rem;
    color: #fff;
    text-align: justify;
    line-height: 1.5;
  }
}

#contact {
  background-color: #eee;
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .has-error {
    color: @red;
  }
  input.has-error, textarea.has-error {
    outline: 1px solid @red;
  }

  .form {
    width: 65%;
    margin: 0 auto;
    .form-horizontal {
      .form-group {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  form {
    input, textarea {
      border-radius: 0;
      background: #f8f8f8;
      border: 1px solid #ddd;

      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
    }
    input {
      min-height: 55px;
    }
    textarea {
      min-height: 150px;

    }
    button {
      border-radius: 0;
    }
  }
}

footer {
  padding: 40px 0;
  background: #F2F3EB;

  .socials {
    text-align: right;
  }
}

.footer {
  a {
    color: @red;
  }
}

.footer__navigation {
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: @grey;
      font-weight: 600;
      font-variant-ligatures: common-ligatures;
      font-size: 1.2em;
      line-height: 1.625em;
      margin-top: 0;
      margin-bottom: 1.625em;
      padding-right: 10px;
    }
  }
}

.social-list {
  padding-left: 0;
  li {
    display: inline-block;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    opacity: .5;
    display: inline-block;
    margin: 0;
    a {
      font-size: 28px;
      margin-right: 15px;
    }
  }
}

.navbar-toggle {
  position: relative;
  background-color: @background_transparent;
  border-radius: 4px;
}

.navbar-nav {
  > li {
    > a {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}

/*
 Responsive Style
 */
@media (max-width: 992px) {
  .topline {
    .links {
      text-align: left;
    }
  }

  .main-page {
    .banner-text {
      h2 {
        font-size: 2.5rem;
      }
    }
  }

  #contact {
    .form {
      width: 100%;
    }
  }

  #about {
    h3 {
      font-size: 2rem;
    }
  }

  footer {
    text-align: center;
    .pull-left, .pull-right {
      float: none !important;
    }
    .socials {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(50, 60, 70, 0.9);
  }

  .topline {
    .links {
      a {
        display: block;
        margin-left: 0;
      }
    }
  }

  .navbar-fixed-top {
    top: 114px;
  }

  .top-nav-collapse {
    top: 0;
    min-height: 68px;
  }
}

@media (max-width: 550px) {
  .main-page {
    margin-top: calc(50vh - 200px);
  }

  .navbar-nav {
    > li {
      > a {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .navbar-brand {
    margin-top: 0;
  }

  .text-center-xs {
    text-align: center !important;
  }

  .social-list {
    margin-bottom: 15px;
  }
}
